Setup:
  # Your bot token from https://discord.com/developers/applications
  Token: TOKEN
  # Role ID for staff members
  StaffRoleID: "ROLE ID"
  # Wether to log data or not
  Log: false
Commands:
  # This only needs to be enabled for the first run to register the commands with discord as it means starting takes longer to avoid rate limiting
  SetupCommands: true
  # Wether not the commands are registered to only one guild (Recomend to leave it on false for global commands (will take up to an hour to register))
  JustGuildCommands: false
  # If JustGuildCommands is enabled the ID of the guild to register them too
  GuildID: 'SERVER ID'